.outline-text {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.outline-blue {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.my-input::placeholder {
  color: white;
}

/* @keyframes flameSignUp {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(127, 191, 255, 0.8), 0 0 40px rgba(127, 191, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(127, 191, 255, 0.8), 0 0 40px rgba(127, 191, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(127, 191, 255, 0.8), 0 0 40px rgba(127, 191, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(127, 191, 255, 0.8), 0 0 45px rgba(127, 191, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(127, 191, 255, 0.8), 0 0 40px rgba(127, 191, 255, 0.8);
  }
}

.flameSignUp {
  animation: flame 20s infinite;
} */
